
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1679AB; 
}

.navbar {
    position:fixed;
    display: flex;
    align-items: center;
    background-color: #074173;
    padding: 20px 40px;
    height: 45px;
    width: 97%;
    justify-content: space-between; 
    z-index: 1000;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    height: 100%; 
    width: 50%; 
    margin-left: 20%;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    margin: 0 20px; 
}

.search-container form {
    display: flex;
    align-items: center;
    width: 100%; 
}

.search-container form input {
    padding: 10px;
    font-size: 1.5em;
    font-style: italic;
    border: none;
    border-radius: 5px 0 0 5px; 
    text-align: left; 
    flex-grow: 1; 
}

.search-container form button {
    padding: 10px 20px;
    background-color: #1679AB;
    color: white;
    border: none;
    font-size: 1.5em;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

.search-container form button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    flex-shrink: 0; 
}

.nav-links a,
.nav-links .dropbtn {
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    margin-left: 20px;
    font-size: 1.5em;
}

.nav-links a:hover,
.nav-links .dropdown-content a:hover {
    border-radius: 5px;
}

/* Dropdown */
.dropbtn {
    background-color: transparent;
    color: #fff;
    padding: 15px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 10%;
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* CSS for Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.navbar-mobile {
    display: none;
}

.navbar-mobile.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333; 
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    padding-top: 20px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-mobile .nav-link {
    margin-bottom: 10px; 
    color: #fff; 
    text-decoration: none;
}

/* Hero */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Card Container and Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    flex: 1 1 calc(25% - 40px); 
    max-width: calc(25% - 40px); 
    transition: transform 0.3s ease;
    text-align: center;
    margin-bottom: 4%;
}

.card:hover {
    transform: translateY(-10px); 
}

.card img {
    width: 100%;
    height: 270px; /* Fixed height to ensure all images are the same size */
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0;
    font-size: 1.5em;
}

/* Footer */
.footer {
    position: relative;
    background-color: #074173;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 2px;
}

/* Responsive styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        justify-content: space-between;
        margin-bottom: 5%; 
    }

    .card {
        flex: 1 1 calc(50% - 30px); 
        max-width: calc(50% - 30px); 
        margin-bottom: 30px; 
    }
}

@media screen and (max-width: 768px) {
    .search-container {
        display: none; 
    }

    .hamburger {
        display: flex; 
        justify-content: center; 
        align-items: center;
        width: 100%; 
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #fff;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        right: 10%;
        justify-content: center;
        align-items: center; 
        width: 100%; 
    }

    .logo {
        display: none;
    }

    .nav-links {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #074173;
        z-index: 1;
    }

    .nav-links a {
        padding: 15px;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .nav-links a:hover {
        background-color: rgba(255,255,255,0.1);
    }

    .card-container {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        margin-bottom: 5%;
    }

    .card {
        flex: 1; 
        max-width: 90%; 
        width: 100%; 
        box-sizing: border-box; 
        margin-bottom: 15px; 
    }
}
